<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58486/CustomerService/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:58486/OrderService/OrderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
                contract="OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:58486/ProductService/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:58486/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Service.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>